@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

img {
  width: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }
  @media (min-width: 600px) {
    html {
      font-size: 50%; } }
  @media (min-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (min-width: 900px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-size: 1.8rem;
  font-family: 'Public Sans', sans-serif;
  background-color: #fafafa; }

.header-container {
  background-color: white; }

.header {
  padding: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 900px) {
    .header {
      width: 80%;
      margin: auto; } }
  .header__logo {
    width: 15rem; }
  .header__menu {
    font-size: 1.9rem;
    display: none; }
    .header__menu__menu-item {
      list-style: none;
      padding-bottom: 3rem;
      color: #9698a6;
      padding-top: 3rem;
      border: 3px solid transparent; }
      @media (min-width: 900px) {
        .header__menu__menu-item {
          align-self: stretch; } }
      .header__menu__menu-item:hover {
        border-style: solid;
        color: #2d314d;
        border-width: 3px;
        border-image: linear-gradient(to left, #31d35c, #2bb7da) 0 0 100% 0/0 0 4px 0; }
      .header__menu__menu-item:not(:last-child) {
        margin-right: 4rem; }
      @media (min-width: 900px) {
        .header__menu__menu-item {
          font-size: 1.4rem;
          display: flex;
          align-items: center; }
          .header__menu__menu-item:not(:last-child) {
            margin-right: 6rem; } }

#nav-button {
  display: block; }
  @media (min-width: 900px) {
    #nav-button {
      display: none; } }

.header-button {
  display: none; }
  @media (min-width: 900px) {
    .header-button {
      display: block; } }

.button-gradient {
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  padding: 1.5rem 4rem;
  border: none;
  color: white;
  border-radius: 3rem; }
  .button-gradient:hover {
    opacity: 0.6; }

.hero {
  display: flex;
  position: relative;
  flex-direction: column-reverse; }
  @media (min-width: 900px) {
    .hero {
      flex-direction: row;
      width: 100%; } }
  .hero__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: url(/images/bg-intro-mobile.svg) no-repeat 15% 602%;
    background-size: 177% 107%;
    position: relative;
    overflow: hidden; }
    @media (min-width: 900px) {
      .hero__right {
        background: url(/images/bg-intro-desktop.svg) no-repeat 19% 602%;
        background-size: 142% 104%; } }
  .hero__headline {
    font-size: 5.5rem;
    margin-bottom: 2rem;
    font-weight: 500; }
    @media (min-width: 900px) {
      .hero__headline {
        font-size: 4.5rem;
        text-align: center;
        font-weight: 400; } }
  .hero__text {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 4rem;
    color: #9698a6; }
    @media (min-width: 900px) {
      .hero__text {
        text-align: center; } }
  .hero__left {
    flex: 1;
    display: flex;
    justify-content: center; }
  .hero__container {
    text-align: center;
    width: 100%;
    margin-top: -9rem; }
    @media (min-width: 900px) {
      .hero__container {
        margin-top: 12rem;
        width: 60%; } }

.image-container {
  text-align: center;
  top: -14rem;
  right: 0;
  position: relative; }
  @media (min-width: 900px) {
    .image-container {
      top: -12rem;
      right: -119px; } }

.image-container img {
  width: 108%; }
  @media (min-width: 900px) {
    .image-container img {
      width: 85%; } }

.container {
  width: 80%;
  margin: auto; }
  @media (min-width: 900px) {
    .container {
      width: 100%; } }

.second {
  background-color: #f3f4f6;
  padding-top: 10.5rem;
  padding-bottom: 5rem;
  margin-top: 5rem;
  margin-bottom: 8rem; }
  @media (min-width: 900px) {
    .second {
      margin-top: -28rem; } }
  .second__headline {
    font-weight: 400;
    font-size: 3.7rem;
    margin-bottom: 2.2rem; }
    @media (min-width: 900px) {
      .second__headline {
        text-align: center;
        width: 80%;
        margin: auto;
        margin-bottom: 2.2rem; } }
  .second__text {
    width: 60%;
    line-height: 1.7;
    margin-bottom: 4rem;
    color: #9698a6; }
    @media (min-width: 900px) {
      .second__text {
        width: 80%;
        margin: auto;
        margin-bottom: 4rem; } }

.row {
  display: block; }
  @media (min-width: 900px) {
    .row {
      display: flex; } }

.card {
  padding: 3rem 2rem; }
  .card__image {
    width: 7.7rem;
    margin-bottom: 4rem; }
    @media (min-width: 900px) {
      .card__image {
        margin-bottom: 1rem; } }
  .card__title {
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 2.4rem; }
  .card__details {
    color: #9698a6;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.4; }
    @media (min-width: 900px) {
      .card__details {
        margin-bottom: 0; } }
  @media (min-width: 900px) {
    .card {
      width: 100%;
      margin: auto;
      margin-bottom: 3rem;
      text-align: center;
      padding: 1rem 0; } }

.articles {
  display: block;
  margin-bottom: 16rem; }
  @media (min-width: 900px) {
    .articles {
      display: flex;
      margin-bottom: 6rem; } }

.articles-headline {
  font-size: 3.8rem;
  font-weight: 400;
  margin-bottom: 5rem; }
  @media (min-width: 900px) {
    .articles-headline {
      width: 80%;
      margin: auto;
      margin-bottom: 5rem; } }

.article {
  background-color: white;
  color: #9698a6;
  border-radius: 10px; }
  .article:not(:last-child) {
    margin-right: 3rem; }
  .article__image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 20rem;
    margin-bottom: 0.6rem; }
  .article__author {
    font-size: 1.2rem;
    margin-bottom: 0.6rem; }
  .article__container {
    padding: 2rem; }
  .article__title {
    color: #2d314d;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    width: 90%; }
    .article__title:hover {
      color: #31d35c; }
  .article__details {
    font-size: 1.3rem;
    line-height: 1.4;
    font-weight: 400; }
  @media (min-width: 900px) {
    .article {
      width: 80%;
      margin: auto;
      margin-bottom: 6rem; } }

.footer {
  background-color: #2d314d;
  color: white;
  padding: 5rem 0; }

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 900px) {
    .footer-container {
      justify-content: space-between; } }

.footer-items li:not(:last-child) {
  margin-bottom: 2rem; }

.footer-items li:hover {
  color: #31d35c; }

@media (min-width: 900px) {
  .footer-items li {
    margin-bottom: 3rem; } }

.column-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.column-footer button {
  margin-bottom: 3rem; }

.footer-logo {
  width: 15rem; }
  @media (min-width: 900px) {
    .footer-logo {
      margin-bottom: 2rem; } }

ion-icon {
  font-size: 25px;
  color: #fff; }
  ion-icon:not(:last-of-type) {
    margin-left: 1rem; }
  ion-icon:hover {
    color: #31d35c; }
  @media (min-width: 900px) {
    ion-icon {
      font-size: 30px; } }

.close {
  display: none; }

.nav-container {
  color: #2d314d;
  display: none;
  position: absolute;
  top: 18%;
  width: 80%;
  left: 10%;
  border-radius: 1rem;
  height: 40vh;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 2.7rem 3rem 2.7rem 2rem;
  background-color: white;
  z-index: 1010; }

.modal-overlay {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 13%;
  left: 0;
  width: 100%;
  height: 91vh;
  background: linear-gradient(to bottom, #2d314d, rgba(45, 49, 77, 0)); }

.show {
  display: block !important; }

.hide {
  display: none !important; }

.close {
  display: none; }

.ham-item {
  margin-bottom: 2rem;
  list-style: none; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

.fix {
  position: fixed; }
