@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

//reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

// color variables
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//mixins
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-size: 1.8rem;
  font-family: 'Public Sans', sans-serif;
  background-color: $veryLightGray;
}

.header {
  width: 80%;
  margin: auto;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;

  @include respond(phonr) {
    width: 90%;
    margin-bottom: 2rem;
  }

  &__logo {
    width: 15rem;
  }

  &__menu {
    font-size: 1.4rem;
    display: flex;
    align-items: center;

    &__menu-item {
      list-style: none;
      text-transform: uppercase;
      &:hover {
        border-bottom: 1px solid $limeGreen;
      }

      &:not(:last-child) {
        margin-right: 4rem;
      }

      @include respond(phone) {
        font-size: 1.9rem;

        display: none;

        &:not(:last-child) {
          margin-right: 6rem;
        }
      }
    }
  }
}

#nav-button {
  display: none;
  @include respond(phone) {
    display: block;
  }
}

.button-gradient {
  background-image: linear-gradient(to right, $limeGreen, $brightCyan);
  padding: 1.5rem 3rem;
  border: none;
  color: $white;
  border-radius: 3rem;
}

.hero {
  display: flex;
  // width: 80%;
  // margin: auto;
  margin-bottom: 12rem;
  position: relative;

  @include respond(phone) {
    flex-direction: column-reverse;
    width: 90%;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: url(/images/bg-intro-desktop.svg) no-repeat top center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    @include respond(phone) {
      margin-bottom: 5rem;
    }
  }

  &__headline {
    font-size: 4.5rem;
    margin-bottom: 2rem;
    font-weight: 500;

    @include respond(phone) {
      font-size: 3.5rem;
      text-align: center;
      font-weight: 400;
    }
  }

  &__text {
    font-size: 2rem;
    margin-bottom: 4rem;
    color: $grayishBlue;
    @include respond(phone) {
      text-align: center;
    }
  }

  &__left {
    flex: 1;
    display: flex;
    justify-content: center;
    // align-items: center;

    @include respond(phone) {
      margin-bottom: 6rem;
    }
  }

  &__container {
    margin-top: 12rem;
    width: 50%;
  }
}

.image-container {
  position: relative;
  top: -12rem;
  right: -56px;
}

.container {
  width: 80%;
  margin: auto;
}
.second {
  background-color: $lightGrayishBlue;
  padding-top: 12rem;
  padding-bottom: 7rem;
  margin-top: -20rem;
}

.row {
  display: flex;
}

.card {
  width: 23%;
  padding: 3rem 2rem;
  &__image {
    width: 10rem;
    margin-bottom: 2rem;
  }
  &__title {
    margin-bottom: 2rem;
  }
}

.articles {
  display: flex;
}

.article {
  background-color: $white;
  &:not(:last-child) {
    margin-right: 2rem;
  }
}

.footer {
  background-color: $darkBlue;
  color: $white;
}

.footer-logo {
  width: 15rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
