@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

//reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

// color variables
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//mixins
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-size: 1.8rem;
  font-family: 'Public Sans', sans-serif;
  background-color: $veryLightGray;
}

.header {
  width: 80%;
  margin: auto;
  // padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;

  @include respond(phone) {
    padding: 4rem;
    width: 100%;
  }

  &__logo {
    width: 15rem;
  }

  &__menu {
    font-size: 1.4rem;
    display: flex;
    align-items: center;

    &__menu-item {
      align-self: stretch;
      list-style: none;
      text-transform: uppercase;
      padding-bottom: 4rem;
      padding-top: 4rem;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid $limeGreen;
      }

      &:not(:last-child) {
        margin-right: 4rem;
      }

      @include respond(phone) {
        font-size: 1.9rem;

        display: none;

        &:not(:last-child) {
          margin-right: 6rem;
        }
      }
    }
  }
}

#nav-button {
  display: none;
  @include respond(phone) {
    display: block;
  }
}

.header-button {
  display: block;
  @include respond(phone) {
    display: none;
  }
}

.button-gradient {
  background-image: linear-gradient(to right, $limeGreen, $brightCyan);
  padding: 1.5rem 3rem;
  border: none;
  color: $white;
  border-radius: 3rem;
}

.hero {
  display: flex;
  position: relative;

  @include respond(phone) {
    flex-direction: column-reverse;
    width: 90%;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: url(/images/bg-intro-desktop.svg) no-repeat 15% 602%;
    background-size: 142% 104%;
    position: relative;
    overflow: hidden;
    @include respond(phone) {
      margin-bottom: 5rem;
    }
  }

  &__headline {
    font-size: 4.5rem;
    margin-bottom: 2rem;
    font-weight: 500;

    @include respond(phone) {
      font-size: 3.5rem;
      text-align: center;
      font-weight: 400;
    }
  }

  &__text {
    font-size: 2rem;
    margin-bottom: 4rem;
    color: $grayishBlue;
    @include respond(phone) {
      text-align: center;
    }
  }

  &__left {
    flex: 1;
    display: flex;
    justify-content: center;
    // align-items: center;

    @include respond(phone) {
      margin-bottom: 6rem;
    }
  }

  &__container {
    margin-top: 12rem;
    width: 50%;
  }
}

.image-container {
  position: relative;
  top: -12rem;
  right: -119px;
}

.container {
  width: 80%;
  margin: auto;
}
.second {
  background-color: $lightGrayishBlue;
  padding-top: 12rem;
  padding-bottom: 7rem;
  margin-top: -23rem;
  margin-bottom: 10rem;

  &__headline {
    font-weight: 400;
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }

  &__text {
    width: 60%;
    line-height: 1.7;
    margin-bottom: 4rem;
  }
}

.row {
  display: flex;

  @include respond(phone) {
    display: block;
  }
}

.card {
  width: 23%;
  padding: 3rem 2rem;
  &__image {
    width: 8rem;
    margin-bottom: 4rem;
  }
  &__title {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 2.4rem;
  }
  &__details {
    color: $grayishBlue;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.7rem;
  }

  @include respond(phone) {
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
    text-align: center;
  }
}

.articles {
  display: flex;
  margin-bottom: 6rem;

  @include respond(phone) {
    display: block;
  }
}

.articles-headline {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.article__img {
  background: url(/images/image-currency.jpg) no-repeat top center;
  background-size: contain;
  height: 163px;
  width: 100%;
  border-radius: 10px;
}

.article {
  background-color: $white;
  color: $grayishBlue;
  border-radius: 10px;
  &:not(:last-child) {
    margin-right: 3rem;
  }

  &__image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__author {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  &__container {
    padding: 2rem;
  }

  &__title {
    color: $darkBlue;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  &__details {
    font-size: 1.6rem;
    font-weight: 400;
  }

  @include respond(phone) {
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
  }
}

.footer {
  background-color: $darkBlue;
  color: $white;
}

.footer-logo {
  width: 15rem;
}

.close {
  display: none;
}

.nav-container {
  color: $darkBlue;
  display: none;
  position: absolute;
  top: 18%;
  width: 80%;
  left: 10%;
  border-radius: 1rem;
  height: 40vh;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 2.7rem 3rem 2.7rem 2rem;
  background-color: $white;
  z-index: 1010;
}

.modal-overlay {
  display: none;
  z-index: 1000;

  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  height: 91vh;
  background: linear-gradient(to bottom, $darkBlue, rgba($darkBlue, 0));
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.close {
  display: none;
}

.ham-item {
  margin-bottom: 3rem;
  list-style: none;

  &:last-child {
    border: 1px solid $white;
    padding: 2rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.fix {
  position: fixed;
}
